*~
simple-genome-reads.fa
simple-genome-reads.fa.corr
simple-genome-reads.mut
simple-genome.fa
simple-mrna-err.fa
simple-mrna-reads.fa
simple-mrna-reads.sam
simple-mrna.1.bt2
simple-mrna.2.bt2
simple-mrna.3.bt2
simple-mrna.4.bt2
simple-mrna.fa.fai
simple-mrna.rev.1.bt2
simple-mrna.rev.2.bt2
*.bt2
*.graph
*.info
*.meds
*.meds2
*.counts
rna.fa
*.fai
*.sam
